
.main {
  @extend %clearfix;
}

.sidebar {
  background-color: red;
  float: left;
}

.content {
  &.content-sidebarOn {
    //background-color: blue;
  }
}

/* スマホサイズの時のみ */
@media (max-width: 767px) {
  .sidebar { width: 100%;}
  .content { width: 100%;}
}

/* タブレットとPC共通 */
@media (min-width: 768px) {
  .sidebar {
    display: inline-block;
    width: 224px;
  }
  .content {
    display: inline-block;
    width: -webkit-calc(100% - 224px);
    width: calc(100% - 224px);
  }
}